.discover {

    @media screen and (min-width:768px){
        &-container{
            width: 610px;
            margin-inline:auto;
            padding-top: 2rem;
        }
    }

    @media screen and (min-width:1024px){
        &-card{
            width: 237px;
        }

        &-container{
            width: 700px;
        }

        &-data{
            left: 1.5rem;
            bottom: 2rem;
        }

        &-title{
            font-size: var(h2-font-size);
        }
    }

    .swiper-slide {
        width: 200px;
    }

    .swiper-wrapper {
        margin-top: 2.5rem;
    }

    &-card {
        position: relative;
        width: 200px;
        overflow: hidden;
    }

    &-data {
        position: absolute;
        bottom: 1.5rem;
        left: 1rem;
    }

    &-title {
        color: var(--white-color);
        font-size: var(--h3-font-size);
        margin-bottom: $mb-0-25;
    }

    &-description {
        color: var(--white-color);
        display: block;
        font-size: var(--smaller-font-size);
    }

    &-img {
        transition: $img-transition;

        &:hover {
            transform: $img-scale;
        }
    }


}


.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right {
    background-image: none;
}