.experience{

    &-container{
        row-gap: 2.5rem;
        justify-content: center;
        justify-items: center;
    }

    &-content{
        grid-template-columns: repeat(3,1fr);
        column-gap: 1rem;
        justify-items: center;
        padding: 0 2rem;

        @media screen and (max-width:340px){
            padding: 0;
        }

        @media screen and (min-width:1024px){
            &{
                margin: $mb-1 0;
                column-gap: 3.5rem;
            }
        }
    }

    &-number{
        font-size: var(--h2-font-size);
        font-weight: $font-semi-bold;
        margin-bottom: $mb-0-5;
    }

    &-description{
        font-size: var(--small-font-size);
    }

    &-img{
        position: relative;
        padding-bottom: 2rem;
    }

    &-overlay:first-child{
        width: 263px;
        margin-right: 2rem;
    }

    &-overlay:nth-child(2){
        width: 120px;
        position: absolute;
        top: 2rem;
        right: 0;

        
    }

    &-overlay{
        overflow:$img-hidden;

        @media screen and (max-width:340px){
            &:nth-child(1){
                width: 190px;
            }
        }

        @media screen and (max-width:340px){
            &:nth-child(1){
                width: 80px;
            }
        }

        @media screen and (max-width:1024px){
            &:nth-child(1){
                width: 463px;
                margin-right: 7rem;
            }

            &:nth-child(2){
                width: 220px;
                margin-right: 3rem;
            }
        }

        @media screen and (min-width:768px){
            &:nth-child(1){
                width: 363px;
                margin-right: 4rem;
            }

            &:nth-child(2){
                width: 160px;
                margin-right: 4rem;
            }
        }
    }


    &-img{

        @media screen and (max-width:340px){
            padding: 0;
        }
        &-1{
            transition: $img-transition;

            &:hover{
                transform: $img-scale;
            }
        }

        &-2{
            transition: $img-transition;
            
            &:hover{
                transform: $img-scale;
            }
        }
    }
}