.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: $z-fixed;
    // background-color: $first-color;
    background-color: transparent;
}


.nav {
    height: $header-height;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-logo,
    &-toggle {
        color: var(--white-color);
    }

    &-logo {
        font-weight: $font-semi-bold;
    }

    &-toggle {
        font-size: 1.2rem;
        cursor: pointer;
    }

    &-menu {
        position: relative;
    }

    &-list {
        display: flex;
        flex-direction: column;
        row-gap: 2.5rem;
    }

    &-link{
        color: var(--text-color-light);
        font-weight: $font-semi-bold;
        text-transform: uppercase;

        &:hover{
            color: var(--text-color);
        }
    }

    &-close{
        position: absolute;
        top: 0.75rem;
        right: 1rem;
        font-size: 1.5rem;
        color: var(--title-color);
        cursor: pointer;
    }

}



@media screen and (max-width:767px) {

    .nav {

        &-menu {
            position: fixed;
            background-color: var(--body-color);
            top: 0;
            right: -100rem;
            width: 70%;
            height: 100%;
            box-shadow: -1px 0 4px hsla(var(--hue-color), 64%, 15%, .15);
            padding: 3rem;
            transition: .4s;
        }
    }

}


.show-menu{
    right: 0;
}


.scroll-header{
    background-color: var(--body-color);
    box-shadow: 0 0 4px hsla(var(--hue-color), 64%, 15%, .15);

    & .nav-logo , & .nav-toggle{
        color: var(--title-color);
    }
}

