.video {
    &-container {
        padding-bottom: 1rem;
        @media screen and (max-width:340px){
            padding: 0;
        }

        @media screen and (min-width:568px){
            &{
                display: grid;
                grid-template-columns: .6fr;
                justify-content: center;
            }
        }

        @media screen and (min-width:1024px){
            &{
                grid-template-columns:.7fr;
            }
        }
    }

    &-description {
        text-align: center;
        margin-bottom: $mb-2-5;

        @media screen and (min-width:1024px){
            &{
                padding: 0 8rem;
            }
        }
    }

    &-content {
        position: relative;
    }

    &-button {
        position: absolute;
        right: 1rem;
        bottom: -1rem;
        padding: 1rem 1.5rem;
    }

    &-button-icon{
        font-size: 1.2rem;
    }
    
}